---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Analytics" description="Analytics for Stats100 Clicker">
	<main>
		<h1><span class="text-gradient">404</span></h1>
		<p class="instructions">
			Whoops. How about you <a href="/">go back home?</a>
		</p>
	</main>
</Layout>
