---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CustomChart from "../components/Chart";
---

<Layout title="Stats100 Clicker" description="The Clicker for Stats100.xyz">
	<main>
		<h1>Stats100 <span class="text-gradient">Clicker</span><span><small style="font-size: small;">v1.0</small></span></h1>
		<p class="instructions">
			A new and improved Global Clicker. Now in Astro!
		</p>

		<div class="b">
			<b>Clicks:</b>
		</div>
		<CustomChart client:only fetchClicks />
		<ul role="list" class="link-card-grid">
			<Card
				href="/analytics"
				title="Analytics 📈"
				body="Analytics to come in V2"
			/>
			<Card
				href="/api/swagger"
				title="API 📃"
				body="Know how to use the API :)"
			/>
			<Card
				href="https://github.com/Stats100/clicker"
				title="GitHub 💻"
				body="We're open source!"
			/>
		</ul>
	</main>
</Layout>
